# --- Python virtual environments ---
trafficenv/
all-files.txt

# Track sample dataset
!lisa_sample/

# --- Large files & model checkpoints ---
*.zip
*.tar.gz
*.h5
*.pkl
*.pt
*.ckpt

# --- Dataset folders ---
lisa_dataset/

# --- Git filter-repo logs ---
.git/filter-repo/

# --- Jupyter notebook checkpoints ---
.ipynb_checkpoints/

# --- Python cache files ---
__pycache__/
*.py[cod]
*.so

# --- VSCode settings (optional) ---
.vscode/

# --- Logs and system files ---
*.log
.DS_Store

#---- remove kaggle for version control -----
kaggle.json
